
<div id="trustee_login" class="modalDialog">
  <div>
    <a href="/" title="Close" class="close">X</a>

    <h1>Welcome Knott Trustees Please Login</h1>

    <%= render 'penn_station/shared/flash_messages' unless flash.empty? %>

    <%= form_tag sessions_path, remote: true do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], :autofocus => true %>
      </div>

      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div id="password_reset"><%= link_to "Forgot your password?", new_password_reset_path %></div>
      <div style="clear: both;"></div>

      <div id="remember_me_wrapper">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %>
      </div>
      <div style="clear: both;"></div>

      <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
  </div>
</div>
