
<%= form_for @trustee, :url => password_reset_path(params[:id]) do |f| %>
  <% if @trustee.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @trustee.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Forgotten Password</h1>

  <p>Enter a new password for the Trustees section here.</p>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions"><%= f.submit "Update Password" %></div>
<% end %>

