
<%= form_tag password_resets_path, :method => :post, id: 'trustee_password_reset' do %>
  <h1>Trustee Password</h1>

  <p>Enter the email address used to login to the Trustees section and we'll email a link for resetting your password.</p>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>

