<style>
#search_results {margin-top: 15px;}
div.result-group {margin: 20px 0;}
#main div.result {margin: 5px 0;}
</style>

<nav id="secondary">
</nav>

<div id="content">
  <div id="breadcrumbs"><a href="/">Home</a> &gt; Search</div>
  <div id="main">
  <h1>Search Results</h1>

  <% unless @results.nil? %>
    <div id="search_results">
    <% if @num_results == 0 %>
      <p>No results found for "<%= params[:search_term] %>"</p>
    <% else %>
      <p><%= pluralize(@num_results, 'result') + " found for \"#{params[:search_term]}\"" %></p>

      <% if @results[:pages].any? %>
        <div class="result-group">
          <h3 style="margin-bottom: 8px;">Pages</h3>
          <% @results[:pages].each do |result| %>
            <div class="result">
              <p><%= link_to result.title, result.url %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @results[:blog_posts].any? %>
        <div class="result-group">
          <h3 style="margin-bottom: 8px;">Blog Posts</h3>
          <% @results[:blog_posts].each do |result| %>
            <div class="result">
              <p><%= link_to result.title, "/knott_blog?post_id=#{result.id}" %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @results[:grants].any? %>
        <div class="result-group">
          <h3 style="margin-bottom: 8px;">Grants</h3>
          <% @results[:grants].each do |grant| %>
            <div class="result">
              <p style="font-weight: bold;"><%= grant.recipient %>, Categories: <%= grant.category_names.empty? ? "N/A" : grant.category_names.join(", ") %>,
                 <span class="amount"><%= number_to_currency grant.value, :precision => 0 %></span>
                 [<%= link_to grant.year, "grants/past_awards?grant_year_manager[]=#{grant.year}#grant_search_results" %>]</p>
              <p class="description">&hellip;<%= grant.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>

    <% end %>
    </div> <!-- end search_results -->
  <% end %>
  </div>
</div>

