
#pennstation {
  #workspaces {

    /* Adjust column widths for each class's index. */

    ol#grant_year_managers_index {
      li.row {
        li.year {width: 125px;}
        li.show_this_year {width: 150px;}
      }
    }
  }
}
