
#pennstation {
  #workspaces {

    /* Adjust column widths for each class's index. */

    ol#grants_index {
      li.row {
        li.name {width: 500px;}
        li.value {width: 150px;}
        li.year {width: 50px;}
        li.featured_on_home_page {width: 200px;}
      }
    }

    .new_grant,
    .edit_grant {
      .grants {
        padding: 0;
        margin-left: 25px;
        overflow: auto;

        ol {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            clear: both;
            margin: 0;
            padding: 0;
            overflow: auto;
          }
        }

        .field {
          clear: both;
        }

        label {
          float: left;
          font-weight: normal;
        }

        input {
          margin: 8px 15px 0 0;
          float: left;
          width: auto;
        }
      }
    }
  }
}
