
#pennstation {
  #workspaces {

    /* Adjust column widths for each class's index. */

    ol#trustees_index {
      li.row {
        li.name { width: 250px; }
        li.email { width: 350px; }
        li.published { width: 150px; }
        li.updated_at { width: 150px; }
      }
    }
  }
}
