<%= form_for grant_year_manager do |f| %>
  <% if grant_year_manager.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in grant_year_manager.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div class="field">
    <%= f.label :show_this_year %>
    <%= f.check_box :show_this_year %>
  </div>

  <div class="actions"><%= f.submit 'Save' %></div>

<% end %>

