
<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all grants", grants_path, class: "button delete_button" %></li>
  <li><%= link_to "Add a new grant year manager", new_grant_year_manager_path %></li>
<% end %>

<h1>Manage grant year managers</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="year">Year</li>
			<li class="show_this_year">Show this year</li>
    </ol>
  </li>

  <% @grant_year_managers.each do |grant_year_manager| %>
    <li id="<%= grant_year_manager.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
      <li class="year"><a href="<%= edit_grant_year_manager_path(grant_year_manager) %>"><%= grant_year_manager.year %> <%= image_tag("edit.png") %></a></li>
      <li class="show_this_year"><%= grant_year_manager.show_this_year ? 'Y' : 'N' %></li>
      </ol>
    </li>
  <% end %>
</ol>
