<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all grants", grants_path, class: "button delete_button" %></li>
  <li><%= link_to "Back to all displayable grants by year", grant_year_managers_path %></li>
  <li><%= link_to "Delete this grant year manager", @grant_year_manager, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Show grant year manager for <%= @grant_year_manager.year %></h1>
  <%= render(:partial => "penn_station/grant_year_managers/form", :locals => {:grant_year_manager=> @grant_year_manager}) %>
</div>
