<% content_for :toolbar_links do %>
  <li><a href="<%= trustees_path %>">Back to all trustees</a></li>
  <% if current_admin.has_role?("admin") %>
    <li><%= link_to "Delete this trustee", @trustee, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  <% end %>
<% end %>

<h1>Edit <%= @trustee.name %></h1>
<%= render(:partial => "penn_station/trustees/form", :locals => {:trustee => @trustee}) %>
