<% content_for :toolbar_links do %>
  <% if current_admin.has_role?("admin") %>
    <li class="trustee"><a href="<%= new_trustee_path %>">Add a new trustee</a></li>
  <% end %>
<% end %>

<h1>Manage site trustee</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="email">Email</li>
      <li class="updated_at">Last Updated</li>
    </ol>
  </li>

  <% @trustees.each do |trustee| %>
    <li id="<%= trustee.id %>" class="row <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name">
            <a href="<%= edit_trustee_path(trustee) %>"><%= trustee.name %>
              <%= image_tag("edit.png", class: "normal") %>
              <%= image_tag("edit_over.png", class: "hover") %>
            </a>
          </li>
        <li class="email"><%= trustee.email %></li>
        <li class="updated_at"><%= trustee.updated_at.to_s %><%#= formatted_date_and_time(page.updated_at).humanize %></li>
      </ol>
    </li>
  <% end %>
</ol>
