<% content_for :toolbar_links do %>
  <li><a href="<%= trustees_path %>">Back to all trustees</a></li>
<% end %>

<h1>Create a new trustee</h1>
<%= render(:partial => "penn_station/trustees/form", :locals => {:trustee => @trustee}) %>
