<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all grants", grants_path, class: "button delete_button" %></li>
  <li><%= link_to "Back to all grant categories", grant_categories_path %></li>
  <li><%= link_to "Delete this grant category", @grant_category, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
<% end %>

<h1>Edit <%= @grant_category.name %></h1>
<%= render(:partial => "penn_station/grant_categories/form", :locals => {:grant_category => @grant_category}) %>
