
<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all grants", grants_path, class: "button delete_button" %></li>
  <li><%= link_to "Add a new grant category", new_grant_category_path %></li>
<% end %>

<h1>Manage grant categories</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
    </ol>
  </li>

  <% @grant_categories.each do |grant_category| %>
    <li id="<%= grant_category.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_grant_category_path(grant_category) %>"><%= grant_category.name %> <%= image_tag("edit.png") %></a></li>
      </ol>
    </li>
  <% end %>
</ol>
