<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all grants", grants_path, class: "button delete_button" %></li>
  <li><%= link_to "Back to all grant categories", grant_categories_path %></li>
<% end %>

<h1>Create a new grant category</h1>
<%= render(:partial => "penn_station/grant_categories/form", :locals => {:grant_category => @grant_category}) %>
