<!-- page <%= @page.id %>, <%= @page.title.gsub("-->", "[arrow]") %> -->
<% @page.sections.to_a.each do |section| %>
  <% content_for section.name.to_sym do %>
    <%= section.content.html_safe %>
  <% end %>
<% end %>

