
To reset your Knott Foundation website password, click the URL below.

<%= edit_password_reset_url(@trustee.password_reset_token) %>

If you did not request your password to be reset, just ignore this email and
your password will continue to stay the same.
