
@import 'variables';

#carousel_wrapper {
  height: auto;
  position: relative;
  margin-bottom: 30px;

  #carousel_background {
    position: absolute;
    display: inline;;
    height: 305px;
    width: 100%;
    background-color: $teal;
    top: 10px;
    z-index: -1;
  }

  #images_wrapper {
    position: relative;
    min-width: 1180px;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;

    #image_carousel {
      list-style: none;
      margin: 0 auto;
      padding: 0;
    }

    a.learn-more {
      position: absolute;
      z-index: +100;
      list-style: none;
      top: 265px;
      left: 995px;
      font-family: $supporting_font, sans-serif;
      font-style: italic;
      font-size: 0.75em;
      cursor: pointer;
      background-color: white;
      color: $dark_gray;
      text-decoration: none;
    }

    ul.slidesjs-pagination {
      position: absolute;
      z-index: 100;
      list-style: none;
      top: 290px;
      left: 955px;

      li {
        float: left;
        padding-right: 5px;

        a {
          display: inline-block;
          width: 19px;
          height: 19px;
        }
      }

      li a[data-slidesjs-item='0'] {
        background: url(image_path("education_dot.png")) no-repeat;

        &.active {
          background: url(image_path("education_dot_on.png")) no-repeat;
        }
      }

      li a[data-slidesjs-item='1'] {
        background: url(image_path("arts_dot.png")) no-repeat;

        &.active {
          background: url(image_path("arts_dot_on.png")) no-repeat;
        }
      }

      li a[data-slidesjs-item='2'] {
        background: url(image_path("catholic_dot.png")) no-repeat;

        &.active {
          background: url(image_path("catholic_dot_on.png")) no-repeat;
        }
      }

      li a[data-slidesjs-item='3'] {
        background: url(image_path("humanservices_dot.png")) no-repeat;

        &.active {
          background: url(image_path("humanservices_dot_on.png")) no-repeat;
        }
      }

      li a[data-slidesjs-item='4'] {
        background: url(image_path("healthcare_dot.png")) no-repeat;

        &.active {
          background: url(image_path("healthcare_dot_on.png")) no-repeat;
        }
      }
    }

    #controls {
      position: absolute;
      z-index: +100;
      list-style: none;
      top: 290px;
      left: 955px;

      li {
        float: left;
        padding-right: 5px;
      }
    }
  }
}
