
@import 'variables';

#content_wrapper {
  margin: -1px 0 0 0;
}

#content {
  max-width: 1174px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;

  @if false {
    // Temporary for study:
    table {
      border-collapse: collapse;
      td {
        border: 1px solid black;
      }
    }
  }

  td {
    vertical-align: top;
    h2:last-child { margin-bottom: 0 }
  }
  table.space td {
    padding-bottom: 0.5em;
  }

  * {word-break: keep-all}

  ul,
  ol {
    li {
      margin-bottom: 0.75em;
    }
  }

  h1 {
    color: $teal;
    margin: 0 0 1em 0;
  }

  h2,
  h3 {
    margin: 0 0 0.66em 0;
  }

  #breadcrumbs {
    margin: 20px 0 10px 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ol#calendar_items {
    padding: 0;
    margin: 0;
    list-style: none;

    li.odd {
      background-color: $calendar_background_color;
    }

    li {
      margin: 0 0 20px 0;
      padding: 10px;

      div {
        margin: 10px 0;

      }

      div.name {
        margin: 0 0 20px 0;
        font-weight: bold;
      }

      div.section {
        margin: 20px 0 0 0;
        font-weight: bold;
      }
    }
  }
}

  ol {
    padding-left: 30px;
    list-style-type: decimal;
  }

  ul {
    padding-left: 30px;
    list-style-type: disc;
  }

  ul ul          { list-style-type: circle; }
  ul ul ul       { list-style-type: square; }
  ul ul ul ul    { list-style-type: disc; }
  ul ul ul ul ul { list-style-type: circle; }

  ol ol          { list-style-type: upper-alpha; }
  ol ol ol       { list-style-type: decimal; }
  ol ol ol ol    { list-style-type: lower-alpha; }
  ol ol ol ol ol { list-style-type: lower-roman; }

.blog {
  #posts {
    float: left;
    width: 75%;
    padding-top: 10px;

    .post {
      margin-bottom: 20px;

      .title {
        margin-bottom: 20px;
        padding-bottom: 0;
        color: $teal;
        font-size: 1.0em;

        a {
          font-size: 2.0075em;
          text-decoration: none;
          color: $teal;

          &:hover {
            text-decoration: underline;
            color: $teal;
          }
        }
      }

      .summary {
        margin-bottom: 20px;
      }

      .credit {
        margin-bottom: 5px;
      }

      .publication-date {
        margin-bottom: 15px;
      }
    }
  }

  #categories_wrapper {
    float: right;
    width: 19%;
    margin: 0;
    padding: 0;
  }

  #categories {
    background-color: #d3e3f2;
    padding: 20px;
    min-height: 400px;

    .category {
      padding-bottom: 20px;

      h2 {
        margin-bottom: 5px;
      }

      a {
        display: block;
        font-family: $main_font, sans-serif;
        text-decoration: none;
        margin-top: 10px;
        color: $dark_gray;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.trustees {
  margin-top: 20px;

  #main_col {
    float: left;
    width: 70%;

    #main {
      margin-bottom: 25px;
      min-height: 333px;
    }

    #facebook {
      background: $calendar_background_color;
      border: 1px solid #0082a1;

      h1 {
        margin: 15px 0 20px 20px;
      }

      ol {
        margin: 15px 0 5px 20px;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0;
          padding: 20px 0;
          background: white;
          border-top: 1px solid #4a4a4a;
          overflow: auto;

          &:first-child {
            border-top: none;
          }
        }

        li#all_facebook_news {
          text-align: center;
          padding: 10px 0;
          border-top: none;
          background: $calendar_background_color;

          a {
            font-weight: bold;
            color: $teal;
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }
        }

        img {
          height: 80px;
          width: 80px;
          margin: 0 20px;
          float: left;
          border: 1px solid #4a4a4a;
        }

        div {
          float: left;

          h3 {
            margin-bottom: 20px;
          }

          p {
          }
        }
      }
    }
  }

  #sidebar {
    float: right;
    width: 30%;
    width: 269px;

    #news {
      border: 1px solid $trustee_border_color;
      margin-bottom: 25px;
      background: $news_background_color;
      padding: 10px 20px;


      ul {
        padding: 0 0 0 15px;
        margin: 0;

        li {
         margin-bottom: 1em;
         font-size: 1.1618208777613186em;
        }
      }
    }

    #calendar {
      border: 1px solid $trustee_border_color;
      background: $calendar_background_color;
      padding: 0;
      margin: 0;
      min-height: 450px;
      position:relative;

      h1 {
        margin: 15px 0 20px 20px;
      }

      ol {
        list-style: none;
        padding: 0;
        margin: -10px 0 0 0;

        li {
          clear: both;
          margin: 0 0 -100px 20px;
          padding: 0 0 20px 0;
          overflow: auto;
          height: auto;

          div#calendar_date {
            float: left;
            position: relative;

            div.calendar_date_wrapper {
              position: relative;
              top: -70px;
              left: 0;

              .calendar-month {
                position: relative;
                top: 0px;
                left: 15px;
                color: white;
                font-size: 1.0em;
                font-weight: bold;
              }

              .calendar-day {
                position: relative;
                top: 0px;
                left: 10px;
                font-size: 2.25em;
                font-weight: bold;
              }
            }
          }

          div#calendar_info {
            float: left;
            width: 65%;
            padding-left: 10px;
            padding-top: 9px;

            a {
              overflow: hidden;
              height: 0.75em;
              margin-bottom: 11px;
              text-decoration: none;
              color: $dark_gray;

              &:hover {
                text-decoration: underline;
              }
            }

            div {
              font-size: 0.75em;
              overflow: hidden;
              height: 2.5em;
              line-height: 1.25em;
            }
          }
        }
      }

      img {
        margin-bottom: -4px;
      }
    }
  }
}
