
@import 'variables';

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

@font-face {
  font-family: $supporting_font;
  src: font-url('gothicb.ttf');
}

body {
  font-family: $main_font, sans-serif;
  color: $dark_gray;
  font-size: 1.4937696999788381em;
  font-style: normal;
}

nav {
  font-family: $supporting_font, sans-serif;
  font-weight: bold;
}

nav#primary {
  font-size: 1.618250508310408em;
  color: $dark_gray;
}

nav#secondary {
  font-size: 1.1618208777613186em;
  color: #fff;
}

#breadcrumbs {
  font-family: $main_font, sans-serif;
  font-size: 1.1618208777613186em;
  color: $breadcrumb_text_color;
  font-style: italic;

  a {
    font-family: $main_font, sans-serif;
    font-size: 1em;
    color: $breadcrumb_text_color;
    font-style: italic;
  }
}

h1, h2, h3 {
  font-family: $supporting_font, sans-serif;
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 2.0075000200752em;
  color: $teal;
}

h2 {
  font-size: 1.4937696999788381em;
  color: $h2_color;
}
@media screen and (max-width: 353px) {
  table h2 {
    font-size: 1.15rem;
  }
}

h3 {
  font-size: 1.3277952888700784em;
  color: $h3_color;
}

.photo {
  border: 1px solid $photo_border_color;

  .caption {
    font-family: $main_font, sans-serif;
    font-size: 1.1618208777613186em;
    color: $h3_color;
    font-style: italic;
  }
}

#symbols {
  p {
    font-family: $main_font, sans-serif;
    font-size: 1.1618208777613186em;
    color: $dark_gray;
  }
}

footer {
  font-size: 14px;

  #footer_content {
    line-height: 1.33em;

    #contact_info p, #links p, #contact_info_mobile p {
      color: $teal;
    }

    #copyright {
      p {
        line-height: 1.5958em;
        font-size: 0.7468848499894191em;
        color: $teal;
      }
    }
  }
}

#grant_search_results {
  li {
    font-family: $main_font, sans-serif;
    font-size: 1.1710416783772em;
    color: $dark_gray;

    .amount {
      color: $teal;
    }
  }

  li:first-child {
    font-weight: bold;
  }
}

#grant_info {

  h3 {
    font-size: 1.3383333467168em;
    font-family: $supporting_font, sans-serif;
  }

  #graph {
    .graph_label {
      font-family: $main_font, sans-serif;
      font-size: 1.1710416783772em;
      font-style: italic;
      color: $dark_gray;
    }
  }
}
