
@import 'variables';

footer {
  border-top: 1px solid $light_gray;
  margin: 40px 0;
  width: 100%;

  #footer_content {
    max-width: 1174px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    font-size: 1em;

    div {
      float: left;
    }

    p {
      margin: 0px;
      font-size: 0.96em;
    }

    #contact_info {
      text-align: left;
      width: 460px;

      .spacer {
        margin: 0 8px;
      }
    }

    #contact_info_mobile {
      display: none;
      text-align: left;
      width: 460px;

      .spacer {
        margin: 0 8px;
      }
    }

    #copyright {
      text-align: center;
      width: 390px;
    }

    #links {
      text-align: right;
      width: 324px;
      float: right;

      a {
        text-decoration: none;
        color: $teal;
        margin: 0 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
