
@import 'variables';

#grant_info {
  #main {
    float: left;
    width: 65%;
  }

  #graph {
    float: right;
    width: 29%;
    margin-right: 25px;

    h3 {
      margin-top: 10px;
      text-align: center;
    }

    #data {
      width: 350px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      list-style: none;
      margin: 0;
      padding: 20px 0 0 0;
      overflow: auto;

      li {
        clear: both;
        overflow: auto;

        div.bar {
          float: left;
          height: 46px;
          padding: 0;
          margin: 0 0 5px 0;
        }

        #education {
          background: #f36c58;
        }

        #catholic_activities {
          background: #f9ecb5;
        }

        #human_services {
          background: #f7d075;
        }

        #health_care {
          background: #7498bc;
        }

        #arts_humanities {
          background: #cddaea;
        }

        .graph_label {
          float: right;
          margin-top: 15px;
          width: 42%;
          overflow: hidden;
          text-align: right;
        }
      }

      li:last-child {
        div {
          margin: 0;
        }

        .graph_label {
          margin: 15px 0 0 0;
          width: 42%;
          overflow: hidden;
        }
      }
    }
  }

  div#graph_marker {
    border-right: 1px solid black;
    width: 60%;
    height: 5px;
  }
}

#grant_search {
  margin-top: 25px;

  ol#program_areas,
  ol#grant_years {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;

    li {
      float: left;
      margin: 0 20px 0 0;
      padding: 0;

      .grant_search_selector {
        padding: 0;
        margin: 0;
      }

        /*
         * this lets us override checkbox styles.
         * http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons/
         *
         */

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"] + label span {
        display:inline-block;
        width:27px;
        height:27px;
        margin:-1px 0 0 0;
        vertical-align:middle;
        background:url(image_path("checkbox.png")) left top no-repeat;
        cursor:pointer;
      }

      input[type="checkbox"]:checked + label span {
        background:url(image_path("checked.png")) left top no-repeat;
      }

      label {
        div.ltext {
          float: right;
          margin-top: 10px;
          height:27px;
        }
      }
    }
  }

  h3,
  div {
    clear: both;
  }

  h3 {
    clear: both;
    margin: 25px 0 20px 0;
  }

  #grant_search_submit input {
    margin-top: 20px;
    background:url(image_path("grants_search.png")) left top no-repeat;
    cursor:pointer;
    width: 158px;
    height: 36px;
    border: none;
  }

  #grant_search_results {
    #no_search_results {
      margin: 25px 0 20px 0;
    }

    ol {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .grant-search-year {
      hr {
        margin: 13px 0;
        color: $dark_gray;
      }

      hr:last-of-type {
        display: none;
      }
    }
  }
}
