
@import 'variables';

#toolbar {
  max-width: 1174px;
  margin: 0 auto;
  background-color: #0082a1;
  height: 2.25em;

  ul#buttons {
    float: left;
    margin: 10px;
    list-style: none;

    li {
      float: left;
      margin-right: 25px;
    }
  }

  ul#links {
    float: right;
    margin: 10px;
    list-style: none;

    li {
      float: left;
      margin-left: 25px;
    }
  }

  a {
    color: #ccc;
  }
}

header {
  max-width: 1174px;
  margin: 20px auto -10px auto;

  #trustee_info {
    float: right;
    list-style: none;
    padding: 0;
    margin: 5px 40px 0 0;

    li {
      float: left;
      color: $dark_gray;

      a {
        color: $light_gray;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    li.separator {
      padding: 0 10px;
    }
  }

  #search {
    float: right;
    width: 245px;
    height: 29px;
    border: 1px solid $light_gray;

    input#search_term {
      height: 25px;
      width: 210px;
      padding-left: 2px;
      border: none;
      vertical-align: top;
      font-size: 18px;
      float: left;
    }
    
    input.submit {
      padding: 4px 0 0 0;
      margin-left: 5px;
      float: left;
    }
  } 
}

#search {
  float: right;
  width: 245px;
  height: 29px;
  border: 1px solid $light_gray;

  input#search_term {
    height: 25px;
    width: 210px;
    padding-left: 2px;
    border: none;
    vertical-align: top;
    font-size: 18px;
  }
  
  input.submit {
    padding: 4px 0 0 0;
    margin-left: 5px;
  }
} 

.search-mobile {
  display: none;
}