
@import 'variables';

#symbols {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;

    img {
      /* height: 107px;
      width: 108px; */
    }

    p {
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

}

#main_wrapper {
  float: left;
  width: 50%;

  #main {
    margin-bottom: 16px;

    p {
      margin: 16px 0;
      font-family: $main_font, sans-serif;
      font-size: 1.1618208777613186em;
      color: $dark_gray;
    }
  }
}

#secondary_wrapper {
  float: left;
  margin-left: 15px;
  width: 48.7%;

  #blog {
    margin: 0;
    height: 100%;

    .blog-post {
      font-size: 1.0em;
      margin-bottom: 25px;
    }

    .post-title {

      a {
        float: none;
        display: inline-block;
        color: $h2_color;
        font-size: 1.3618208777613186em;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .post-credit {
      color: $breadcrumb_text_color;
      font-size: 1.0037500100376em;
      margin-bottom: 8px;
    }

    .post-summary {
      color: $dark_gray;
      font-size: 1.1618208777613186em;

    }

    a {
      font-family: $main_font, sans-serif;
      color: $h3_color;
      float: right;
      margin-right: 1.6em;
      text-decoration: none;
    }
  }

  #newsletter_subscribe {
    padding: 0;
    margin: 0;
    /* background-color: $teal; */

    div {
      float: left;
    }

    div:first-child {
      margin-right: 5px;
    }

    a {
      img {
        padding: 0;
        margin: 0;
      }
    }
  }
}

#image_carousel {
  margin-left: 100px;
  margin-right: 100px;
  height: auto;

  img {
    height: 100%;
    width: 100%;
  }
}

#learn-more {
  text-align: center;
  margin-bottom: 15px;
  top: 80%;
  left: 9.5%;
  position: absolute;
  z-index: 100000;
}
