@media screen 
  and (min-width: 240px) 
  and (max-width: 420px) {

  #image_carousel {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }

  #carousel_background {
    display: none !important;
  }

  #carousel_wrapper {
    height: 170px !important;
    text-align: center;
  }

  .search {
    display: none;
  }

  #search {
    float: none;
    margin-bottom: 20px;
    border: none !important;

    input#search_term {
      width: 90%;
      height: 90%;
      border: 1px solid #b6b6b6;
    }

    input.submit {
      display: none;
    }
  } 

  .search-mobile {
    display: inline-block;
  }

  .small-search {
    text-align: center;
  }

  header {
    text-align: center;
    margin: 20px 20px;

    img {
      width: 100%;
    }
  }

  nav#primary {
    text-align: center;
  }

  nav ol {
    float: none;
  }

  #content {
    margin: 0 20px;
  }

  #main_wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  #secondary_wrapper {
    width: 100%;
    margin-left: 0;

    #newsletter_subscribe {
      a {
        img {
          width: 100%;
        }
      }
    }
  }

  #symbols {
    text-align: center;

    li {
      display: inline-block;
      float: none;

      p {
        text-transform: inherit;
        font-weight: normal;
      }
    }
  }

  footer {
    #footer_content {
      margin: 0 20px;

      #contact_info {
        width: 100%;
        display: none;
      }

      #contact_info_mobile {
        display: block;
        width: 100%;
      }

      #copyright {
        text-align: left;
        width: 100%;
      }
    }

    #links {
      float: left !important;
      text-align: left !important;
      margin-top: 20px;
      width: 100% !important;

      a {
        margin: 0 !important;
      }
    }
  }

  #grant_info {
    #main {
      width: 100% !important;
    }

    #graph {
      width: 100% !important;
      float: left;

      #data {
        width: 100% !important;
      }
    }
  }

  .blog #posts {
    width: 100%;

    img {
      width: 100% !important;
    }
  }

  .blog #categories_wrapper {
    width: 100%;
  }

  #programs_info {
    #programs_table {
      #graphic {
        li {
          width: 100%;
          text-align: center;

          a {
            font-size: 22px !important;
          }

          .title {
            color: #4a4a4a;
            font-family: "Century Gothic Bold",sans-serif;
            font-size: 26px !important;
            font-weight: bold;
            padding: 0.25em 0 0.5em;
            text-align: center;
          }

          .desc {
            text-align: left;
            margin-bottom: 30px !important;

            p {
              font-size: 24px !important;
            }

            span {
              font-size: 24px !important;
            }
          }
        }
      }
    }
  }

  .WordSection1 {
    table {
      width: 270px !important;
    }
  }

  #main {
    table {
      width: 100% !important;

      td {
        // padding: 0 !important;
        // word-break: break-all;

        p {
          text-align: left;
          // word-break: break-all;
          padding: 0 !important;
        }
      }
    }
  }

  img.image_right {
    float: none;
    padding: 0;
    width: 100%;
  }

  /* Navigation Starts */

  #primary {
    display: none;
  }

  #secondary {
    display: none;
  }

  ol.topnav {
    display: block !important;

    li:not(:first-child) {
      display: none;
    }

    li.icon { 
      float: right;
      display: inline-block !important;
    }
  }

  ol.topnav.responsive {
    position: relative;

    li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    li {
      float: none;
      display: inline;

      a {
        display: block;
        text-align: left;
      }
    }
  }

  /* Navigation Ends */

  #learn-more {
    position: unset;
  }
}

@media screen 
  and (min-width: 421px) 
  and (max-width: 559px) {

  #image_carousel {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }

  #carousel_background {
    display: none !important;
  }

  #carousel_wrapper {
    height: 230px !important;
    text-align: center;
  }

  .search {
    display: none;
  }

  #search {
    float: none;
    margin-bottom: 20px;
    border: none !important;

    input#search_term {
      width: 90%;
      height: 90%;
      border: 1px solid #b6b6b6;
    }

    input.submit {
      display: none;
    }
  } 

  .search-mobile {
    display: inline-block;
  }

  .small-search {
    text-align: center;
  }

  header {
    text-align: center;
    margin: 20px 20px;

    img {
      width: 100%;
    }
  }

  nav#primary {
    text-align: center;
  }

  nav ol {
    float: none;
  }

  #content {
    margin: 0 20px;
  }

  #main_wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  #secondary_wrapper {
    width: 100%;
    margin-left: 0;

    #newsletter_subscribe {
      a {
        img {
          width: 100%;
        }
      }
    }
  }

  #symbols {
    text-align: center;

    li {
      display: inline-block;
      float: none;

      p {
        text-transform: inherit;
        font-weight: normal;
      }
    }
  }

  footer {
    #footer_content {
      margin: 0 20px;

      #contact_info {
        width: 100%;
      }

      #copyright {
        text-align: left;
        width: 100%;
      }
    }

    #links {
      float: left !important;
      text-align: left !important;
      margin-top: 20px;
      width: 100% !important;

      a {
        margin: 0 !important;
      }
    }
  }

  #grant_info {
    #main {
      width: 100% !important;
    }

    #graph {
      width: 100% !important;
      float: left;

      #data {
        width: 100% !important;
      }
    }
  }

  .blog #posts {
    width: 100%;

    img {
      width: 100% !important;
    }
  }

  .blog #categories_wrapper {
    width: 100%;
  }

  #programs_info {
    #programs_table {
      #graphic {
        li {
          width: 100%;
          text-align: center;

          a {
            font-size: 22px !important;
          }

          .title {
            color: #4a4a4a;
            font-family: "Century Gothic Bold",sans-serif;
            font-size: 26px !important;
            font-weight: bold;
            padding: 0.25em 0 0.5em;
            text-align: center;
          }

          .desc {
            text-align: left;
            margin-bottom: 30px !important;

            p {
              font-size: 24px !important;
            }

            span {
              font-size: 24px !important;
            }
          }
        }
      }
    }
  }

  .WordSection1 {
    table {
      width: 270px !important;
    }
  }

  #main {
    table {
      width: 100% !important;

      td {
        // padding: 0 !important;
        // word-break: break-all;

        p {
          text-align: left;
          // word-break: break-all;
          padding: 0 !important;
        }
      }
    }
  }

  img.image_right {
    float: none;
    padding: 0;
    width: 100%;
  }

  /* Navigation Starts */

  #primary {
    display: none;
  }

  #secondary {
    display: none;
  }

  ol.topnav {
    display: block !important;

    li:not(:first-child) {
      display: none;
    }

    li.icon { 
      float: right;
      display: inline-block !important;
    }
  }

  ol.topnav.responsive {
    position: relative;

    li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    li {
      float: none;
      display: inline;

      a {
        display: block;
        text-align: left;
      }
    }
  }

  /* Navigation Ends */

  #learn-more {
    position: unset;
  }
}
