
@import 'variables';

nav {
  width: 100%;
  padding: 0;

  ol {
    list-style: none;
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0 0 1px 0;

    li {
      float: left;

      a {
        color: $dark_gray;
        text-decoration: none;
      }
    }
  }
}

nav#primary {
  overflow: hidden;
  max-width: 1174px;
  margin: 0 auto;
  padding: 0;
  font-size: 1.618250508310408em;

  li {
    margin: 0;
    padding: 10px 15px 5px 15px;

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $teal;
      padding: 10px 15px 4px 15px;

      a {
        color: white;
      }
    }
  }

  li.current {
    background-color: $teal;

    a {
      color: white;
    }
  }

  li.nav-separator {
    border: 1px solid $dark_gray;
    margin: 10px 0 0 0 ;
    padding: 0px 0px;
    height: 1em;
  }

}

nav#secondary {
  min-height: 30px;
  background-color: #0082a1;
  font-size: 1.1618208777613186em;

  div {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0;

    ol  {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      display: inline-table;

      &:after {
        content: "";
        clear: both;
        display: block;
      }

      li {
        padding: 10px 15px;
        margin: 0;

        a {
          font-weight: normal;
          padding: 0;
          margin: 0;
          color: white;
          display: block;
          text-decoration: none;

          &:hover {
            color: $orange;
          }
        }

        &:hover > ol {
          display: block;
        }

          // dropdown navs

        ol {
          display: none;
          float: none;
          background: $teal;
          opacity: 0.9;
          padding: 0px;
          position: absolute;
          margin: 0 0 0 -10px;
          top: 100%;

          li.sub-nav-indicator {
            margin-top: 0;
            padding-top: 0;
            background: url(image_path("nav_arrow.png")) no-repeat 10px center ;
            background-color: white;
          }

          li {
            float: none;
            position: relative;
            padding-left: 10px;

            a {
              color: #fff;

              &:hover {
                color: $orange;
                text-decoration: underline;
              }
            }

            ol {
              position: relative;
              padding: 0 0 0 10px;
              display: block;

              li {
                padding: 5px 0 0 10px;

                &.sub-nav-indicator { display: none; }
              }

            }
          }
        }
      }

      li.current {
        a {
          color: $orange;
        }
      }


      li.nav-separator {
        border: 1px solid white;
        margin: 10px 0 0 0 ;
        padding: 0px 0px;
        height: 1em;
      }
    }
  }
}

ol.topnav {
  display: none;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #0082a1;
  font-size: 16px;
  font-weight: bold;

  li {
    float: left;

    a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: $orange;
      }
    }

    a.current {
      color: $orange;
    }

    &:hover {
      background-color: $teal;
    }
  }

  li.icon {
    display: none;
  }
}