
@import 'variables';

#programs_info {
  #programs_table {
    font-size: 1em;

    ul,
    ol {
      li {
        margin-bottom: 0;
      }
    }

    ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      margin: 0;

      li {
        float: left;
        width: 234px;
      }
    }

    .row {
      clear: both;
    }

    .even {
      background-color: $programs_table_zebra;
    }

    #title {
      li {
        font-family: $supporting_font, sans-serif;
        color: $dark_gray;
        font-size: 1.25000200752em;
        padding: 0.25em 0 0.5em 0;
        font-weight: bold;
        text-align: center;
      }
    }

    #graphic {
      overflow: hidden;

      li {
        padding: 0;

        img {
          margin: 20px;
        }

        .title {
          color: #4a4a4a;
          font-family: "Century Gothic Bold",sans-serif;
          /* font-size: 1.25em; */
          font-size: 24px;
          font-weight: bold;
          padding: 0.25em 0 0.5em;
          text-align: center;
        }

        .desc {
          p:first-child {
            color: #4a4a4a;
            font-family: "PT Sans",sans-serif;
            font-size: 20px;
            padding: 20px 10px 10px 10px;
            min-height: 225px;
          } 
          p:last-child {
            height: 0;
          }

          p {
            font-size: 20px;
          }

          span {
            font-size: 20px;
          }
        }

        a {
          font-size: 18px;
          color: #0082a1;
          float: right;
          margin-right: 20px;
          text-decoration: none;
          margin-bottom: 20px;
        }
      }
    }

    #description {
      li {
        padding-top: 20px;
        min-height: 225px;
      }

      p {
        font-family: $main_font, sans-serif;
        color: $dark_gray;
        font-size: 1.1710416783772em;
        padding: 10px;
      }
    }

    #learn_more_link {
      li {
        padding: 15px 0 30px 0;
        a {
          color: $teal;
          float: right;
          margin-right: 20px;
          text-decoration: none;
        }
      }
    }
  }
}
