
// http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/

@import 'variables';

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0.5;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modalDialog {
  opacity: 1;

  & > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  #close:hover { background: #00d9ff; }
}

#trustee_login {
  h1 {
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #aaaaaa;
  }

  #flash_messages {
    margin: 20px 0 10px;;
    color: red;
  }

  .field {
    margin: 20px 0;
    overflow: auto;

    label {
      padding-top: 10px;
      float: left;
    }

    input {
      width: 75%;
      float: right;
    }
  }

  .actions {
    overflow: auto;
    width: 100%;

    input {
      border: none;
      width: 40%;
      background-color: #006600;
      color: white;
      float: right;
      padding: 5px 0;
    }
  }

  #password_reset {
    float: right;
  }

  #remember_me_wrapper {
    float: right;
    margin: 10px 0 20px 0;
  }
}
