@media screen 
  and (min-width: 560px) 
  and (max-width: 765px) {

  #image_carousel {
    margin-left: 0;
    margin-right: 0;
  }

  #carousel_background {
    display: none !important;
  }

  #carousel_wrapper {
    height: 220px;
  }

  .search {
    display: none;
  }

  #search {
    float: none;
    margin-bottom: 20px;
  }

  .search-mobile {
    display: inline-block;
  }

  .small-search {
    text-align: center;
  }

  header {
    text-align: center;
    margin: 20px auto 10px;
  }

  nav#primary {
    text-align: center;
  }

  nav ol {
    float: none;
  }

  #content {
    margin: 0 40px;
  }

  #main_wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  #secondary_wrapper {
    width: 100%;
    margin-left: 0;
  }

  #symbols {
    text-align: left;

    li {
      display: inline-block;
      float: left;
      margin: 0 0 0.75em 0;
      width: 20%;
      text-align: center;

      img {
        width: 80%;
      }

      p {
        text-transform: inherit;
        font-weight: normal;
      }
    }
  }

  footer {
    #footer_content {
      margin: 0 40px;

      #copyright {
        text-align: left;
        width: 100%;
      }
    }

    #links {
      float: left !important;
      text-align: left !important;
      margin-top: 20px;

      a {
        margin: 0 !important;
      }
    }
  }

  #grant_info {
    #main {
      width: 100%;
    }

    #graph {
      width: 100%;
      margin: 0 !important;
    }
  }

  #main {
    table {
      width: 100% !important;
    }
  }

  .blog #posts {
    width: 100%;
  }

  .blog #categories_wrapper {
    width: 100%;
  }

  #programs_info {
    #programs_table {
      #graphic {
        li {
          width: 50%;
          text-align: center;

          a {
            font-size: 18px !important;
          }

          .title {
            color: #4a4a4a;
            font-family: "Century Gothic Bold",sans-serif;
            font-size: 1.25em;
            font-weight: bold;
            padding: 0.25em 0 0.5em;
            text-align: center;
          }

          .desc {
            text-align: left;

            p {
              font-size: 22px !important;
            }

            span {
              font-size: 22px !important;
            }
          }
        }
      }
    }
  }

  #newsletter_subscribe { 
    div:first-child {
      width: 65%;
    }

    div {
      width: 32%;
    }
  }

  img.image_right {
    float: none;
    padding: 0;
    width: 100%;
  }

  img.image_left {
    width: 100%;
  }

  /* Navigation Starts */

  #primary {
    display: none;
  }

  #secondary {
    display: none;
  }

  ol.topnav {
    display: block !important;

    li:not(:first-child) {
      display: none;
    }

    li.icon { 
      float: right;
      display: inline-block !important;
    }
  }

  ol.topnav.responsive {
    position: relative;

    li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    li {
      float: none;
      display: inline;

      a {
        display: block;
        text-align: left;
      }
    }
  }

  /* Navigation Ends */

  #learn-more {
    top: 74% !important;
    left: 76% !important;

    img {
      width: 80%;
    }
  }
}

@media screen 
  and (min-width: 768px) 
  and (max-width: 900px) {

  /* ------------ 1 ------------ */
  #image_carousel {
    margin-left: 0;
    margin-right: 0;
  }

  #carousel_background {
    display: none !important;
  }

  #carousel_wrapper {
    height: 300px;
  }

  .search {
    display: none;
  }

  #search {
    float: none;
    margin-bottom: 20px;
  }

  .search-mobile {
    display: inline-block;
  }

  .small-search {
    text-align: center;
  }

  header {
    text-align: center;
    margin: 20px auto 10px;
  }

  nav#primary {
    text-align: center;
  }

  nav ol {
    float: none;
  }

  #content {
    margin: 0 40px;
  }

  #main_wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  #secondary_wrapper {
    width: 100%;
    margin-left: 0;
  }

  #symbols {
    text-align: center;

    li {
      display: inline-block;
      float: none;

      p {
        text-transform: inherit;
        font-weight: normal;
      }
    }
  }

  footer {
    #footer_content {
      margin: 0 40px;

      #copyright {
        text-align: left;
        width: 100%;
      }
    }

    #links {
      float: left !important;
      text-align: left !important;
      margin-top: 20px;

      a {
        margin: 0 !important;
      }
    }
  }

  /*---------- 2 ----------*/

  #grant_info {
    #main {
      width: 50%;
    }

    #graph {
      width: 47%;
      margin-right: 15px;
    }
  }

  #main {
    table {
      width: 100% !important;
    }
  }

  .blog #posts {
    width: 68%;
  }

  .blog #categories_wrapper {
    width: 30%;
  }

  #programs_info {
    #programs_table {
      #graphic {
        li {
          width: 50%;
          text-align: center;

          .title {
            color: #4a4a4a;
            font-family: "Century Gothic Bold",sans-serif;
            font-size: 1.25em;
            font-weight: bold;
            padding: 0.25em 0 0.5em;
            text-align: center;
          }

          .desc {
            text-align: left;
          }
        }
      }
    }
  }

  #newsletter_subscribe { 
    .newsletter-btn {
      width: 63%;
    }

    .posts-btn {
      width: 34%;
    }
  }

  #learn-more {
    top: 78% !important;
    left: 80% !important;

    img {
      width: 80%;
    }
  }
}