
$teal: #0082a1;
$dark_gray: #4a4a4a;
$light_gray: #b6b6b6;
$orange: #f8e693;

$breadcrumb_text_color: #7398ba;

$h2_color: #f36c57;
$h3_color: #7398ba;

$photo_border_color: #f8e693;

$trustee_border_color: #b6b6b6;
$news_background_color: #b8d3ea;
$calendar_background_color: #fcf5d6;

$programs_table_zebra: #f0f8f9;

$main_font: 'PT Sans';
$supporting_font: 'Century Gothic Bold';
