<% @page.sections.all.each do |section| %>
  <% content_for section.name.downcase.to_sym do %>
    <%= section.content.html_safe %>
  <% end %>
<% end %>

<% content_for :calendar do %>
  <h1>Calendar</h1>
  <ol id="calendar_items">
    <% calendar = PennStation::Calendar.where(name: 'TrusteeCalendar').first %>
    <% calendar.scheduled_events.select{|m| m if %w(Upcoming Current).include?(m.status)}.sort_by{|s| s.starts_at}[0..3].each do |sched_ev| %>
      <li>
        <div id="calendar_date">
          <%= image_tag("calendar.jpg") %>
          <div class="calendar_date_wrapper">
            <div class="calendar-month"><%= sched_ev.starts_at.strftime('%b').upcase %></div>
            <div class="calendar-day"><%= sched_ev.starts_at.strftime('%d') %></div>
          </div>
        </div>

        <div id="calendar_info">
          <a href="/trustees/events#scheduled_event_<%= sched_ev.id %>"><%= sched_ev.event.name %></a>
        </div>
      </li>
    <% end %>
  </ol>

  <a href="/trustees/events"><%= image_tag("allevents.jpg") %></a>
<% end %>
