<%= form_for grant do |f| %>
  <% if grant.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in grant.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipient %>
    <%= f.text_field :recipient %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div class="field">
    <label>Grant Categories</label>
    <div class="grants">
      <ol>
        <% GrantCategory.all.order('name').each do |category| %>
          <li>
            <input type="radio" id="grant_category_<%= category.id %>" name="grant_categories[]" value="<%= category.id %>" <%= grant.grant_categories.map(&:id).include?(category.id) ? "checked" : "" %>/>
            <label for="grant_category_<%= category.id %>"> <%= category.name %></label>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <%= f.hidden_field :feature_on_home_page, value: false %>

  <div class="actions"><%= f.submit 'Save' %></div>

<% end %>

