
<% content_for :toolbar_links do %>
  <li><%= link_to "Add a new grant", new_grant_path %></li>
  <li><%= link_to "Manage grant categories", grant_categories_path %></li>
  <li><%= link_to "Manage displayable grants by year", grant_year_managers_path %></li>
<% end %>

<h1>Manage grants</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="value">Value</li>
      <li class="year">Year</li>
      <li class="category">Category</li>
    </ol>
  </li>

  <% @grants.each do |grant| %>
    <li id="<%= grant.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name">
            <a href="<%= edit_grant_path(grant) %>"><%= grant.recipient %>
              <%= image_tag("edit.png", class: "normal") %>
              <%= image_tag("edit_over.png", class: "hover") %>
            </a>
          </li>
        <li class="value"><%= number_to_currency grant.value, :precision => 0 %></li>
        <li class="year"><%= grant.year %></li>
        <li class="categories"><span class="categories"><%= grant.category_names.join ', ' %></span></li>
      </ol>
    </li>
  <% end %>
</ol>
