<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all grants", grants_path, class: "button delete_button" %></li>
<% end %>

<h1>Create a new grant</h1>
<%= render(:partial => "penn_station/grants/form", :locals => {:grant => @grant}) %>
