<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all grants", grants_path, class: "button delete_button" %></li>
  <li><%= link_to "Delete this grant", @grant, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
<% end %>

<h1>Show <%= @grant.recipient %></h1>
<%= render(:partial => "penn_station/grants/form", :locals => {:grant=> @grant}) %>
