
<%= render :partial => 'layouts/secondary_nav' %>

<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}, @post.nil? ? nil : @post.title) %>

  <div id="main" class="blog">
    <div id="categories_wrapper">
      <div id="categories">
        <h1>Categories</h1>
        <% PennStationBlog::Category.all.each do |category| %>
          <div class="category">
            <h2><%= category.name %></h2>
            <% category.posts.where(publish: true).order('publication_date desc').limit(3).each do |p| %>
              <a href="<%= @page.url %>?post_id=<%=p.id %>"><%= p.title %></a>
            <% end %>
            <a class="read_all" href="/knott_blog?category_id=<%= category.id %>">Read All</a>
          </div>
        <% end %>
      </div>
    </div>
    
    <div id="posts">
    <% @posts.each do |post| %>
      <div id="<%= post.id %>" class="post">
        <h1 class="title">
          <a href="<%= @page.url %>?post_id=<%=post.id %>"><%= post.title %></a>
        </h1>
        <h3 class="credit"><%= post.credit %></h1>
        <h3 class="publication-date"><%= post.publication_date.strftime('%m-%d-%Y') %></h3>
        <h2 class="summary"><%= post.summary %></h2>
        <%= post.body.html_safe %>
      </div>
    <% end %>
    </div>

    
  </div>
</div>

<div style="clear: both;"></div>
