<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}) %>

  <div id="main">
    <h1><%= @page.title %></h1>

    <ol id="calendar_items">
      <% @page.calendars.each do |calendar| %>
        <% calendar.scheduled_events.select{|m| m if %w(Upcoming Current).include?(m.status)}.sort_by{|s| s.starts_at}.each do |sched_ev| %>
          <li id="sched_event_<%= sched_ev.id %>" class="row <%= cycle("even", "odd") -%>">
            <div class="name"><%= sched_ev.event.name %></div>
            <div class="dates"><%= sched_ev.starts_at %> to <%= sched_ev.ends_at %></div>
            <div class="times"><%= sched_ev.times %></div>

            <div class="section">Summary:</div>
            <div class="summary"><%= sched_ev.event.summary %></div>

            <div class="section">Description:</div>
            <div class="description"><%= sched_ev.event.description.html_safe %></div>

            <div class="section location">Location <%= google_map_link(sched_ev.event.locations[0].address,'(Map)') %>:</div>
            <div><%= sched_ev.event.locations[0].name %></div>
            <div><%= sched_ev.event.locations[0].address.address1 %></div>
            <div><%= sched_ev.event.locations[0].address.address2 %></div>
            <div><%= sched_ev.event.locations[0].address.city %>, <%= sched_ev.event.locations[0].address.state %> <%= sched_ev.event.locations[0].address.zipcode %></div>

            <div class="section">Directions:</div>
            <div class="directions"><%= sched_ev.event.locations[0].address.directions %></div>
          </li>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>
