<footer>
  <div id="footer_content">
    <div id="contact_info">
      <p>3904 Hickory Avenue, Baltimore, Maryland 21211</p>
      <p>(p) 410-235-7068<span class="spacer">|</span>(f) 410-889-2577<span class="spacer">|</span>knott@knottfoundation.org</p>
    </div>

    <div id="contact_info_mobile">
      <p>3904 Hickory Avenue, <br />Baltimore, Maryland 21211</p>
      <p>(p) 410-235-7068</p>
      <p>(f) 410-889-2577</p>
      <p>knott@knottfoundation.org</p>
    </div>

    <div id="links">
      <p>
        <a href="/penn_station/folders/Accessibility_Policy/Privacy_Policy.docx">Privacy Policy</a> |
        <a href="/penn_station/folders/Accessibility_Policy/Accessibility_Policy.docx"> Accessibility Policy</a> |
        <a href="/">Home</a>
      </p>
      <p>Website by <a href="http://cctsbaltimore.org" target="_blank" style="margin: 0 5px 0 0;">CCTS</a></p>
    </div>

    <div id="copyright">
      <p>&nbsp;</p>
      <p>All content &copy;<%= Time.now.strftime('%Y') %> The Marion I. & Henry J. Knott Foundation</p>
    </div>

    

  </div>
</footer>
