
<%= render :partial => 'layouts/grants_secondary_nav' %>

<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}) %>

  <% if @page.url == '/grants' %>
    <div id="grant_info" >
      <div id="main">
        <%= yield :main %>
      </div>

      <div id="graph">
        <h3>Past 5 Years Support</h3>

        <ol id="data">
          <% GrantCategory.where('name != "Discretionary Grants"').order(:name).all.each do |cat| %>
            <% pct_size = cat.percentage_of_last_5_years %>
            <li><div id="<%= cat.name.gsub(" ","_").gsub("/","_").downcase %>" style="width: <%= pct_size %>%" class="bar"></div><div class="graph_label"><%= cat.name %></div></li>
          <% end %>
        </ol>
        <div id="graph_marker"></div>
      </div>

      <div style="clear: both;">&nbsp;</div>
    </div>
  <% else %>
    <div id="main">
      <%= yield :main %>
    </div>
  <% end %>
</div>

<div style="clear: both;"></div>
