<%# What a hacque! %>
<nav id="secondary">
  <div>
    <% if @page.url =~ /^\/grants\/how_to_apply.*/ %>
      <% start_page = PennStation::Page.where(ptype: 'grants').first %>
      <% current_page = PennStation::Page.where(url: '/grants/how_to_apply').first %>
    <% else %>
      <% start_page = @page %>
      <% current_page = @page %>
    <% end %>

    <%= nav_list(start_page, depth: 3, current: current_page) %>
  </div>
  <div style="clear: both;"></div>
</nav>
