<header>
  <a id="logo_link" href="/" title="The Marion I. &amp; Henry J. Knott Foundation"><%= image_tag "logo.png" %></a>

  <%= form_tag '/search', :id => 'search', :class => 'search' do %>
    <%= text_field_tag :search_term, params[:search_term], placeholder: 'Search' %>
    <input type="image" src="<%= asset_url('magnify.png') %>" class="submit" />
  <% end %>

  <% if current_trustee -%>
    <ol id="trustee_info">
      <li><%= link_to current_trustee.name, new_password_reset_path, {title: 'Click to change password'} %></li>
      <li class="separator">|</li>
      <li><a href="/logout">Logout</a></li>
    </ol>
  <% end %>
</header>
