<%= render :partial => "layouts/home_page_carousel" %>

<div id="content">
  <div id="main_wrapper">
    <div id="main">
      <h1>About the Knott Foundation</h1>
      <%= yield :main %>
    </div>

      <ol id="symbols">
        <%
           symbol_list = [
             { pic: "arts.jpg", text1: "Arts & ", text2: "Humanities", url: "/programs/arts__humanities" },
             { pic: "catholic.jpg", text1: "Catholic", text2: "Activities", url: "/programs/catholic_activities" },
             { pic: "education.jpg", text1: "Education", text2: "", url: "/programs/education" },
             { pic: "healthcare.jpg", text1: "Health", text2: "Care", url: "/programs/health_care" },
             { pic: "human.jpg", text1: "Human", text2: "Services", url: "/programs/human_services" }
           ]
        %>

        <% symbol_list.each do |symbol_hash| %>
          <li>
            <a href="<%= symbol_hash[:url] %>">
              <%= image_tag "symbols/#{symbol_hash[:pic]}", title: "#{symbol_hash[:text]}" %>
            </a>
            <p><%= symbol_hash[:text1] %></p>
            <% if symbol_hash[:text2].present? %>
              <p><%= symbol_hash[:text2] %></p>
            <% else %>
              <p>&nbsp;</p>
            <% end %>
          </li>
        <% end %>
      </ol>
  </div>

  <div id="secondary_wrapper">
    <div id="blog">
      <h1>From the Knott Blog</h1>

      <% PennStationBlog::Post.where(publish: true).order('publication_date desc').limit(3).each do |post| %>
        <div class="blog-post">
          <div class="post-title"><a href="/knott_blog?post_id=<%= post.id %>"><%= post.title %></a></div>
          <div class="post-credit"><%= post.publication_date.strftime('%m-%d-%Y') %></div>
          <div class="post-summary"><%= post.summary %></div>
        </div>
      <% end %>

    </div>

    <div id="newsletter_subscribe">
      <div><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=biucxrcab&p=oi&m=1102253740289&sit=d9ue8msdb&f=16a9e869-4c3e-4843-9dbe-15f2448db818">
        <%= image_tag "sign_up_newsletters.jpg", title: "Newsletter Signup" %>
      </a></div>

      <div><a href="/knott_blog">
        <%= image_tag "view_posts.jpg" %>
      </a></div>
    </div>
  </div>

  <div style="clear: both;"></div>
</div>
