<div id="carousel_wrapper">
  <div id="carousel_background"></div>
  <% slideshow = PennStation::Slideshow.where(name: 'Home Page Carousel').first %>
  <% unless slideshow.nil? %>
    <% the_slides = slideshow.slides.where(publish: true).to_a %>
    <% unless the_slides.blank? %>
      <%= hidden_field_tag :slides_count, the_slides.count %>
      <div id="image_carousel"> 
        <% the_slides.each do |slide| %>
          <% slide_id = File.basename(slide.image.file.file).split('_')[0] %>
          <% additional_attrs = (the_slides[0] === slide)? 'class="current"' : 'style="display: none;"' %>
          <% if slide.url.present? %>
            <%= link_to slide.url do %>
              <img src="<%= slide.image.url %>">
            <% end %>
          <% else %>
              <img src="<%= slide.image.url %>">
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <a id='learn-more' href=""><%= image_tag 'learn-more.png', alt: 'Learn More' %></a>
</div>
