<!-- default page layout <%= @page.id %>, <%= @page.title.gsub("-->", "[arrow]") %> -->

<%= render :partial => 'layouts/secondary_nav' %>

<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}) unless @page.home_page? %>

  <div id="main">
    <%= yield :main %>
  </div>
</div>

<div style="clear: both;"></div>
