
<%= render :partial => 'layouts/secondary_nav' %>

<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}) %>

  <div id="main">
    <%= yield :main %>
  </div>

  <div id="grant_search">
    <form accept-charset="UTF-8" action="/grants/past_awards#grant_search_results" method="get">
      <h3>Program Areas</h3>
      <ol id="program_areas">
        <% GrantCategory.order(:name).all.each do |cat| %>
          <li>
            <input type="checkbox" id="grant_category_<%= cat.id %>" name="grant_category[]" value="<%= cat.name %>" <%= "checked" if @categories.include?(cat.name) %> />
            <label for="grant_category_<%= cat.id %>"><span></span><div class="ltext"><%= cat.name %></div></label>
          </li>
        <% end %>
      </ol>

      <h3>Grant Year</h3>
      <ol id="grant_years">
        <% GrantYearManager.displayable_years.each do |mgr| %>
          <li>
            <input type="checkbox" id="grant_year_manager_<%= mgr.id %>" name="grant_year_manager[]" value="<%= mgr.year %>" <%= "checked" if @years.include?(mgr.year.to_s) %> />
            <label for="grant_year_manager_<%= mgr.id %>"><span></span><div class="ltext"><%= mgr.year %></div></label>
          </li>
        <% end %>
      </ol>

      <div id="grant_search_submit"><input name="" value="" type="submit" /></div>
    </form>

    <div id="grant_search_results">
      <div id="no_search_results"><%= "#{@grant_search_results.count} results found." %></div>
      <% @grant_search_results.group_by(&:year).sort_by{ |y,g| y }.reverse.each do |year, grants| %>
        <div class="grant-search-year">
          <h3><%= year %></h3>
          <% grants.each do |grant| %>
            <ol>
              <li><%= grant.recipient %>, <span class="amount"><%= number_to_currency grant.value, :precision => 0 %></span></li>
              <li>Categories: <%= grant.category_names.empty? ? "N/A" : grant.category_names.join(", ") %></li>
              <li class="description">&hellip;<%= grant.description %></li>
            </ol>
            <hr/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="clear: both;"></div>
