<%
  @nav ||= KnottPageNavigation.new \
    global_page_tree: PennStation::PageTree.new, current_page: @page, view: self
%>
<nav id="primary">
  <%= primary_nav if @page %>
</nav>

<div class='small-search'>
	<%= form_tag '/search', :id => 'search', :class => 'search-mobile' do %>
	  <%= text_field_tag :search_term, params[:search_term], placeholder: 'Search' %>
	  <input type="image" src="<%= asset_url('magnify.png') %>" class="submit" />
	<% end %>
</div>

<%= mobile_nav if @page %>
