
<%= render :partial => 'layouts/secondary_nav' %>

<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}) %>

  <div id="programs_info" >
    <div id="main">
      <%= yield :main %>
    </div>

    <% slideshow = PennStation::Slideshow.where(name: 'Programs').first %>

    <% unless slideshow.nil? %>
      <div id="programs_table">

        <% the_slides = slideshow.slides.where(publish: true).to_a %>

        <ul id="graphic" class="row">
          <% the_slides.each do |slide| %>
            <li class="<%= cycle('even', 'odd', name: "columns") %>">
              <img src="<%= slide.image.url %>">
              <div class='title'><%= slide.caption %></div>
              <div class='desc'><%= slide.description.html_safe %></div>
              <a href="<%= slide.url %>">Learn More ></a>
            </li>
          <% end %>
        </ul>

      </div>
    <% end %>

    <div style="clear: both;">&nbsp;</div>
  </div>
</div>
