
<!-- Start of generic secondary_nav inclusion. -->
<!-- Page <%= @page.title.inspect.gsub(/-->/, "[arrow]").html_safe %>. -->
<nav id="secondary">
  <div>
    <%= secondary_nav %>
  </div>
  <div style="clear: both;"></div>
</nav>
<!-- End of generic secondary_nav inclusion. -->

