
<%= render :partial => 'layouts/secondary_nav' %>

<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}) %>

  <div class="trustees">
    <div id="main_col">
      <div id="main">
        <%= yield :main %>
      </div>
    </div>

    <div id="sidebar">
      <div id="news">
        <%= yield :news %>
      </div>

      <div id="calendar">
        <%= yield :calendar %>
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
</div>

