<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION : "" %></title>

    <%= seo_meta_tags unless @page.nil? %>

    <%= stylesheet_link_tag  "application", media: "all" %>

    <!--[if IE ]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=1185, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    
    <%= csrf_meta_tags %>

    <% if @page %>
      <!-- page <%= @page.id %>, <%= @page.title.gsub("-->", "[arrow]") %> -->
    <% else %>
      <!-- No page. -->
    <% end %>

  </head>


  <body>
    <%= admin_toolbar(@page,current_admin) if current_admin -%>

    <%= render :partial => 'layouts/header' %>

    <%= render :partial => 'layouts/primary_nav' %>

    <div id="content_wrapper">
      <% if controller.controller_name == 'password_resets' %>
        <%= yield %>
      <% elsif controller.controller_name == 'search' %>
        <%= yield %>
      <% else %>
        <% begin %>
          <% partial_name = "layouts/#{@page.ptype.underscore}" %>
          <!-- Trying partial <%= partial_name %> -->
          <%= render :partial => partial_name %>
        <% rescue %>
          <!-- rescue -->
          <%= render :partial => "layouts/page" %>
        <% end %>
      <% end %>
    </div>

    <%= render :partial => 'layouts/footer' %>
    <%= google_analytics_embed_code_from_db %>
  </body>

  <%= javascript_include_tag "application" %>
</html>

<% unless current_trustee or current_admin %>
  <script type="text/javascript">
    jQuery(function() {

        /*
         *  If trustee is not logged in, we want to pop
         *  up a modal containing a login form.
         */

      jQuery('a[href$="/trustees"]').click(function() {
        jQuery(this).attr('data-remote',"true");
        event.stopPropagation();
      });

    });
  </script>
<% end %>
