<!DOCTYPE html>
<html>
  <head>
    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION : "Trustee Login" %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
